.flx{
  column-count: 2;
  column-gap: 0;
  @media screen and (max-width: 500px) {
    column-count: 1;
    float: none;
    .navbar-section{
      display:inline;
    }
  }
  .fl{
    break-inside: avoid;
    box-sizing: border-box;
  }
}


img {
  max-width:100%;
}

.columns {
  max-width:1400px;
  margin: 0 auto;
  padding: 2rem;
}


body{
  line-height: 1.4;
  background-color: #fbfbfb;
}

html.fixmod{
  overflow: hidden;
}


.footer {
  background-color:#444;
  a {
    color:#999 !important;
  }
}
.footer{
  border-top: 2px solid $orange;
}

.none{display:none}
