.flx{
  column-count: 2;
  column-gap: 0;
  @media screen and (max-width: 500px) {
    column-count: 1;
    float: none;
    .navbar-section{
      display:inline;
    }
  }
  .fl{
    break-inside: avoid;
    box-sizing: border-box;
  }
}

.modal-container .modal-body{
  max-height: 100000px;
}

img {
  max-width:100%;
}

article.contents .container.maincontent{
  padding-top:3rem;
  padding-bottom: 4rem;
}

article.contents img{
  max-width:120%;
}

.columns {
  max-width:1400px;
  margin: 0 auto;
  padding: 2rem;
}

.card{
  margin:2rem;
}

body{
  line-height: 1.4;
  background-color: #fbfbfb;
}

.top{
  position: absolute;
  background-color: rgba(0,0,0,.3);

  a, .btn.btn-link{
    color: white;
  }
  @media screen and (max-width: 500px) {
    position: relative;
    background-color: #444;
    a{
      font-size: 1rem;
      font-size: 1rem;
      padding: 0rem;
      line-height: 1rem;
      margin: 0rem;
      height: 2.5rem;
      font-weight: bold;
    }
    .navbar-section{
      display:inline;
    }
  }
}

.card{
  background-color:rgba(0,0,0,.3);
  border: 0rem solid black;
  font-size: 1rem;
  margin-top: 0rem;

  .card-header, .card-body{
    padding-top:0rem;
  }
  a{
    color: teal;
    text-decoration: none;
    .card-title{
      .tcontent {
        background-color: white;
        display: inline;
        padding:.2em;
      }
      margin-top: -1em;
      display: block;
      font-size: 2rem;
      margin-bottom:0px;
      font-family: 'Merriweather';
    }
  }
  .card-body {
    font-size: 1.5rem;
    padding-top: 1rem;
    color:black;
  }
  .card-image{
    max-height:20rem;
    padding:0;
    margin:0;
    overflow: hidden;
  }

}

.modal {
  top: 0;
  bottom: none !important;
  position:fixed;
  max-height:100vh;
  overflow-y: scroll;
  -webkit-align-items:start;
    align-items:start;
    bottom: 0;
    display: none;
    -ms-flex-align:start;
    -ms-flex-pack:start;
    -webkit-justify-content:start;
    justify-content:start;
    left: 0;
    opacity: 0;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 0;
    max-width: 100%;
    max-width: 100vw;
}

.modal-overlay {
  position: fixed !important;
}

.modal-container{
  margin:3em auto;
}

.modal-header{
  text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid #ddd;
}

.home .container.top{
  background-color: rgba(0,0,0,.3);
}

.home .container.title .columns{
  align-items: center;
}

.home .title {
  height:40vh;
  box-shadow: inset 0 -220px 220px -20px rgba(0,0,0,.5);
}
.home .title h1 {
  font-family: 'Lato';
  font-size: 8rem;
  margin-bottom: 4rem;
  text-align:center;
  margin-top:20vh;
}

.subtit{
  background-color: #fff;
  text-align: center;

  h2{
    font-size:3rem;
    color:#444;
    padding: 3rem 0rem 3rem 0rem;
  }
}
.frontstats{
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,.05);
  background-image:url(/assets/aaa.jpg);
  .columns{
    align-items: center;
  }
  .statcol {
    padding: 2rem;
    text-align: center;

    > * {
      color:black;
      padding:.2em 0em .2em 0em;
      display: inline;
    }
    h6 {
      font-size: 1.4rem;
      background-color: beige;

    }
  }

  .frontvio{
    display: inline-block;
    h6 {
      display: inline-block;
      margin: .5rem;
      padding: .5rem;
      background-color: beige;
        font-size: 1.4rem;
      &:hover {
        background-color:white;
      }
      a {
        color:#444;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.footer {
  background-color:#444;
  a {
    color:#999 !important;
  }
}

.arrow{
  font-size:4rem;
  text-align: center;
  color: #eee;
}
