img {
  max-width:100%;
}

.columns {
  max-width:1400px;
  margin: 0 auto;
  padding: 2rem;
}

.card{
  margin:2rem;
}

body{
  font-size: 18px;
  line-height: 1.4;
  background-color: #fbfbfb;
}

.top{
  position: absolute;
  background-color: rgba(0,0,0,.2);
  a, .btn.btn-link{
    color: white;
  }
}

.contents{
  p{

  }
}

.sidebar{
}

.card{
  background-color: #f3f3f3;
  border: 0rem solid black;
  .card-header, .card-body{
    padding-top:0rem;
  }
  .card-title{
    a{
      color: teal;
      background-color: white;
    }
    margin-top: -1em;
    display: block;
    font-size: 2rem;
    margin-bottom:0px;
    font-family: 'Merriweather';
  }
  font-size: 1rem;
  .card-image{
    max-height:20rem;
    margin:1rem;
    overflow: hidden;
  }

}
