.investigation {
    margin-top: -10em;
    background-color: white;
    padding: 2rem;
    margin-left:-2rem;
        margin-right:2rem;

}

.investigations{
  background-color:#f2f2f2;
  color: white;
  padding-top:5rem;
  .col-5 p{
    padding:2em;
    background-color:#333;
  }
  .card{
    .card-title{
      font-size: 3rem;
      @media screen and (max-width: 600px) {
        font-size:1rem;
      }
    }

  }




  .clist > .col-6:first-child{
    display:none;
  }

  .clist {
    .col-6:nth-child(even) {
     padding-right:2rem;
  }
  }

  .supercard .card a .card-title .tcontent{
    font-size:4rem;
  }


  .supercard .card .card-body{
    font-size:2rem;
  }

  .supercard .card-image{
    max-height:40rem;
  }

  .supercard img{
    width:100%;
  }


}
