
.container.investigations{
  border-top:3px solid $orange;
}

article.contents .investigation{
  margin-top:3rem;
}

.investigations{
  background-color:#444;
  color: white;
  padding-top:5rem;
  .col-5 p{
    padding:2em;
    background-color:#333;
  }
  .card{
    .card-title{
      font-size: 3rem;
    }
    .card-body{
      color:white;
    }
  }


  .clist > .col-6:first-child{
    display:none;
  }

  .supercard .card-image{
    max-height:40rem;
  }

  .supercard img{
    width:100%;
  }

  .supercard .card{
    margin: 0;
  }

}
