body {
  direction: rtl;
  text-align: right;
  font-family: 'Droid Arabic Naskh' !important;
  p, h1, h2, h3, h4, h5, h6{
    font-family: 'Droid Arabic Naskh' !important;
  }
  article{
    p, h1, h2, h3, h4, h5, h6{
      font-family: 'Droid Arabic Naskh' !important;
    }
  }
  ol, ul {margin: 2rem 2rem 2rem 2rem};

article.contents ul li:before {
    content: '◀';
    margin-right: -1.5em;
    margin-left: 0em;
}

.investigations .col-5 p {
    padding: 2em;
    background-color: #333;
    margin-right: -2em;
    margin-left: 0em;
}

.modal-container{
  text-align: right;
}

}

.card a .card-title {
  font-family: 'Droid Arabic Naskh' !important;
}

.home .intro .investigations .columns{
  padding:0;
  .card{
  margin-left:2rem;
  margin-right:0px;
  }
}


.home .flx .card{
    margin-left:2rem;
  margin-right:0px;
}

.investigation {
    margin-left:2rem;
        margin-right:-2rem;

}

.maintext{
    margin-left:2rem;
        margin-right:-2rem;
}

.padright{
  padding-right: 0rem;
    padding-left: 2rem;

}

.margright{
  margin-right: 0rem;
    margin-left: 2rem;

}

  .clist {
    .col-6:nth-child(even) {
       padding-right: 0rem;
    padding-left: 2rem;
  }
  }


a.hb.btn.btn-link {
  margin-left:0rem;
    margin-right:-.9rem;

}
