
.container.title{
  .columns{
    position:relative;
    height: 40vh;
    .col-12{
      position: absolute;
      color:white;
      bottom:  2rem;
      z-index: 1;
    }
  }
}

.top{
  position: absolute;
  background-color: $background;
  z-index: 40;
  position: fixed;
  border-top: 3px solid $orange;
  
  .columns {
    padding-top: 1rem;
    padding-bottom: 1rem;

  }

  a, .btn.btn-link{
    color: $dark;
  }
  @media screen and (max-width: 500px) {
    position: relative;
    background-color: $background;
    a{
      font-size: 1rem;
      font-size: 1rem;
      padding: 0rem;
      line-height: 1rem;
      margin: 0rem;
      height: 2.5rem;
      font-weight: bold;
    }
    .navbar-section{
      display:inline;
    }
  }
}


.title{
  background-position: center center;
  background-size: cover;
  background-image: url('/assets/main_back.jpg');
  box-shadow: inset 0 -220px 220px -20px rgba(50,50,50,.9);
  min-height:40vh;
    h1{
      color: white;
      @media screen and (max-width: 750px) {
       font-size:3rem;
      }
    }
    .desc{
      color:white;
      margin-bottom: 3rem;
    }

}



a.hb.btn.btn-link {
  color:  $orange;
  // font-family: 'Merriweather', serif;
  font-size: 1em;
  // text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  font-weight: bold;
  text-transform:uppercase;
  margin-left:-.9rem;
}
