@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather');

 html, body {
   font-family: 'Lato', sans-serif;
 }

 h1, h2, h3, h4, h5, h6{
   font-family: 'Merriweather', serif;
   font-weight:200;
 }

p {
  font-family: 'Merriweather', serif;
  line-height: 1.6em;
}

a.hb.btn.btn-link {
  color: #ffb55c;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  font-weight: bold;
}

.title{
  background-position: center center;
  background-size: cover;
  background-image: url('/assets/main_back.jpg');
  box-shadow: inset 0 -220px 220px -20px rgba(50,50,50,.9);
    h1{
      color: white;
      margin-top: 4em;
      font-size: 6rem;
    }
    .desc{
      color:white;
      margin-bottom: 1em;
    }

}

article.contents {
  box-shadow: 0px 9px 5px 9px black;
}

article.contents .investigation{
  margin-top:3rem;
}

article.contents h1{
  font-size: 4rem;
}

article.contents p {
  max-width: 40em;
  padding-bottom: 2em;
}

article.contents ul li {
  list-style: none;
  &:before{
    content: '➤';
    color:teal;
    margin-left: -1.5em;
    margin-top: 0em;
    position: absolute;
  }
  p{
    padding-bottom: 1em;
  }
}

article.contents ol{
  margin-bottom: 2em;
  li{
    p {
        display: inline;
    }
  }
}
