<!DOCTYPE html>
<html class="{{locale}}">
<head>
  <title>{{title}} -- {{sitename}} -- {{locale}}</title>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Titillium+Web" rel="stylesheet">
  <script type="text/javascript">
    const locale = "{{locale}}";
    {% block extraheadjs %}
    {% endblock %}
  </script>
  <link rel='stylesheet'  href='/assets/styles.bundle.css' />
</head>
<body>

  <div class="container top">
    <div class="columns">
      <div class="col-12 nav">
        <header class="navbar">

          <section class="navbar-section">
            <a class="btn btn-link hb" href="/{{locale}}">Syrian Archive / </a>

            <a class="btn btn-link" href="/{{locale}}/about">About</a>
            <a class="btn btn-link" href="/{{locale}}/tools_methods">Tools and Methods</a>
            <a class="btn btn-link" href="/{{locale}}/investigations">Investigations</a>
            <a class="btn btn-link" href="/{{locale}}/database">Database</a>
            <a class="btn btn-link" href="/{{locale}}/database/map">Map</a>
          </section>

          <section class="navbar-section">
          </section>
          <section class="navbar-section">
          </section>

          <section class="navbar-section">
            <!-- <a href="/">
              <img src="/assets/syrian_archive_logo_landscape.png" />
            </a> -->
          </section>

          <section class="navbar-section">
          </section>
          <section class="navbar-section">
          </section>

          <section class="navbar-section">
            <a class="btn btn-link" href="{{ url | l('ar')}}">
              {% if locale === "ar"%}<b>{%endif%}
              ar
              {% if locale === "ar"%}</b>{%endif%}
            </a>
            <a class="btn btn-link" href="{{ url | l('en')}}">
              {% if locale === "en"%}<b>{%endif%}
              en
              {% if locale === "en"%}</b>{%endif%}
            </a>
          </section>

        </header>
      </div>
    </div>
  </div>

{% block titlecontainer %}
  <div class="container title {% if image %}imaged{% endif %}" style="{% if image %}background-image:url({{image}}){% endif %}">
    <div class="columns">
      <div class="col-12">
        {% block title %}
          <h1>{{ title }}</h1>
          <div class="desc">
            {{desc}}
          </div>
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

  <article class="contents">
    {% block jstop %}
    {% endblock %}

    {% block content %}
    {% endblock %}
  </article>

  {% block jsbottom %}
    <div id="js-root"></div>
  {% endblock %}





  <script src="/assets/app.bundle.js"></script>
</body>
</html>
