{% extends 'base.html' %}

{% block htmlclass %}
  home
{% endblock %}

{% block title %}
  <h1>{{ title }}</h1>
  <div class="desc">
  </div>
{% endblock %}

  {% block content %}

    <div class="container maincontent">
      <div class="columns">

        {% include 'includes/cardlist4.html' %}
      </div>
    </div>

    {% set items = latest  | sort(true, true, 'date') %}

    <div class="container investigations">
      <div class="columns">
        <div class="col-12 ititle">
          <h3>Latest Investigations</h3>
        </div>
      </div>

      <div class="limiter columns">
      {% for post in items  | sort(true, true, 'date')%}
        {% if post.locale === locale and post.title != title %}
          <div class="col-6">
              {% include 'includes/card.html' %}
            </div>
        {% endif %}
      {% endfor %}
      </div>
    </div>

  {% endblock %}

  {% block jstop %}
  <div class="container subtit">
    <div class="columns">
      <div class="col-12">
        <h2>{{desc}}</h2>
      </div>
    </div>
  </div>
  <div id="js-root"></div>
  {% endblock %}


{% block jsbottom %}
{% endblock %}
