{% extends 'layout.html' %}

  {% block content %}

    <div class="container">
      <div class="columns">
        <div class="col-4">
          {{ contents|safe }}
        </div>
        <div class="col-8">
          <div class="columns">
          {% for post in siblings %}
            {% if post.locale === locale and post.title != title %}
              <div class="col-6">
                  {% include 'includes/card.html' %}
                </div>
            {% endif %}
          {% endfor %}
        </div>
        </div>
      </div>
    </div>
  {% endblock %}
